<!DOCTYPE html>
<!--Author: Rohit Anantha-->
<html>
<style>
    body {
        background-color: black;
    }

    h1 {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
    }

    p {
        text-align: center;
        color: white;
    }
</style>

<body>
    <p>
        Are there Waffle Fries at Kinsolving Dining today?
    </p>
    <h1>
        <%= test%>
    </h1>

</body>

</html>